
body {
   margin: 0;
   line-height: normal;
}


:root {
   
   /* fonts */
   --font-roboto: Roboto;
   --font-inherit: inherit;
   
   /* font sizes */
   --font-size-xs: 12px;
   --font-size-2xs: 11px;
   --font-size-sm: 14px;
   --font-size-mini: 15px;
   
   /* Colors */
   --color-white: #fff;
   --color-limegreen: #28c10f;
   --color-yellow: #fff500;
   --color-darkslateblue: #0f2150;
   
   /* Paddings */
   --padding-8xl: 27px;
   
}